html {
/*  width: 1000px;
  height: 1500px;*/
  width:100%;
  height:100%;
  margin:0;
  padding: 0px;
  /*overflow-x:hidden;*/
}

body {
/*  width: 1000px;
  height: 1500px;*/
  width:100%;
  height:100%;
  margin:0;
  padding: 0px;
  background-color:#800000;
  /*overflow-x:hidden;*/
}

.basic {   /* border: 5px solid;
            border-radius:15px;
            border-color:grey;*/
            /*overrides the body color:white below*/
            outline-style: solid;
            outline-color:#800000;
            /* outline goes around the section divs*/
            margin:10px;
            padding:10px;
            overflow:hidden;
            background:#facfbf;
            /*height:500px;*/
            color:black;
        }


/*html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}*/

.topbar{
  width: 100%;
  float: left;
  height: 100px;
  background-color:#800000;
}

.topbar > ul{display:table;width:95%;}
.topbar > ul > li{list-style:none;margin:0;padding:0;display:table-cell;}

.content_window{
  width: 100%;
  float: left;
  height: calc(100% - 100px);
  background-color:#800000;
}

.header-section {   background:#800000;
                    overflow:hidden;
                }



.content-frame-out{
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
    background:#800000;
}

.content-frame-in{ max-width:1150px;
                    margin-left:auto;
                    margin-right:auto; }

.basic > h3{font-size:large;}
.basic > h4{font-size:medium;}

/*this is behind the content section, not visible*/


.sidebar{
  width: 200px;
  float: left;
  height: 100%;
  background-color:#800000;
}

.sidebar > ul > li{list-style-type:none;}


.content{
  width: calc(100% - 200px);
  float: left;
  height: 100%;
  background-color:#facfbf;
  /*min-width:800px;*/
  max-width:1500px;
  overflow: scroll;
  overflow-x: hidden;
}

.content > div > h2{
  text-align: center;
}

.content > div > h3{
  text-align:left;
  /*font-weight:normal;*/
  /*font-style:italic;*/
}

.content > div > p{
  text-align: left;
  color:#2b0000;
  padding:10px;
}

.content > div > p > a{
  color:#3333ff;
  text-decoration:none;
}

.bottombar{
  width:100%;
  max-width:500px;
  /*height:150px;*/
  padding-top:20px;
  background-color:#800000;
  /*float:left;*/
  margin:auto;
}

.bottombar > ul{display:table;width:95%;}
.bottombar > ul > li{list-style:none;margin:0;padding:0;display:table-cell;}


a {
  color:#9999ff;
}

.content-link{color:#3333ff;}

.center {
 text-align:center
}

p {
  padding-top: 25px;
  text-align: center;
}

.bottom-text {
  color:white;
}

/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/




.about{ vertical-align:middle;
        width:70%;
        margin-left:20px;
        float:left;
        color:#ffffff;
      }


.exp{ vertical-align:middle;
        float:left;
        color:#ffffff;
    }




